/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 1rem;
}

.gap-20 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --deep-teal: #054640;
  --forest-green: #005d4b;
  --sea-green: #06625f;
  --light-gray: #bbbbbb;
  --medium-gray: #aaaaaa;
  --white: #FFF;
  --checkmark-blue: #34B7F1;
  --outgoing-chat-bubble: #ECE5DD;
  --very-light-green: #dcf8c6;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* ============================================= */
/* Component:        ComponentName               */
/* ============================================= */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page: PageName                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
