/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.gap-5 {
  gap: 0.5rem;
}

.gap-10 {
  gap: 1rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-20 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --deep-teal: #054640;
  --forest-green: #005d4b;
  --sea-green: #06625f;
  --light-gray: #bbb;
  --medium-gray: #aaa;
  --dark-gray: #333333;
  --white: #fff;
  --checkmark-blue: #34B7F1;
  --outgoing-chat-bubble: #ECE5DD;
  --light-green: #dcf8c6;
  --very-light-green: #ecf8e3;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page: PageName                                       */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* ============================================= */
/* Component: ComponentName                      */
/* ============================================= */



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page: Authorization                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.authorization-container {
  height: 100svh;
  width: 100svw;

  > * {
    flex: 1;
  }
}
/* ============================================= */
/* Component: AuthPrompt                         */
/* ============================================= */
.display-toggle {
  cursor: pointer;
  color: var(--forest-green);
  text-decoration: underline;
}
/* ============================================= */
/* Component: AuthForm                           */
/* ============================================= */
.auth-button {
  background-color: var(--forest-green);
  color: var(--white);
  font-weight: 500;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
/* ============================================= */
/* Component: AuthBanner                         */
/* ============================================= */
.auth-section {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 2rem 12rem;
}
.auth-banner {
  background-color: var(--very-light-green);

  > p, h2 {
    text-align: center;
  }
}
.auth-banner-img {
  width: 300px;
}
/* ============================================= */
/* Component: AuthHeader                         */
/* ============================================= */
.auth-logo{
  height: 100px;
}
/* ============================================= */
/* Component: LoginForm                          */
/* ============================================= */
.auth-input{
  border: 1px solid var(--light-gray);
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
}
.auth-label{
  color: var(--dark-gray);
}
.auth-form{
  width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page:Chat                                            */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.chat-container {
  height: 100svh;
  width: 100svw;

  > * {
    padding: 1rem;
  }
}
.chat-sidebar {
  flex: 1;
  border-right: 1px solid var(--medium-gray);
}
.chat-window {
  flex: 3;
}
/* ============================================= */
/* Component: ChatSidebarHeader                  */
/* ============================================= */
.sidebar-header-container {
  align-items: center;
}
/* ============================================= */
/* Component: ChatSearchBar                      */
/* ============================================= */
.chat-search-bar-container{
  width: 100%;
  position: relative;
  height: 4rem;
}
.chat-search-input {
  width: 100%;
  height: 100%;
  padding: 0 1rem 0 3rem;
}
.search-icon{
  position: absolute;
  left: 0.5rem;
  top: 1.2rem;
}
/* ============================================= */
/* Component: ChatList                           */
/* ============================================= */
.chat-list-container{
  height: 100%;
  overflow-y: auto;
}
/* ============================================= */
/* Component: ChatItem                           */
/* ============================================= */
.chat-item-pfp{
  height: 4rem;
  border-radius: 50%;
  margin-right: 2rem;
}
.item-info-container{
  width: 100%;
}
.chat-item-message{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ============================================= */
/* Component: DefaultChatView                    */
/* ============================================= */
.default-chat-view{
  width: 100%;
  height: 100%;

  img {
    height: 100px;
  }
}
/* ============================================= */
/* Component: ChatDetailHeader                   */
/* ============================================= */
.chat-detail-header-container{
  width: 100%;
  align-items: center;
}
/* ============================================= */
/* Component: ChatDetailInput                    */
/* ============================================= */
.chat-detail-input-container{
  width: 100%;
  align-items: center;

  .input-icon{
    font-size: 1.8rem;
  }

  .message-input{
    width: 85%;
  }
}